<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US"}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        {% if site.github.is_user_page %}
        <br>Postdoctoral Researcher
        <br>Computing Science Center (CSC)
        <br>2-59B, University of Alberta
        <br>Edmonton, Canada.
        <br>Email: ajaykum1@ualberta.ca
        <br>
        <br>
        <br><a class="view" href="https://scholar.google.com/citations?user=JGx-ivgAAAAJ&hl=en&oi=sra" target="_blank"><img style="border:1px outset silver;" src="assets/img/scholar_logo.png" width="200" height="50"></a>
        <br><a class="view" href="https://dblp.uni-trier.de/pid/137/7223.html" target="_blank"><img style="border:1px outset silver;" src="assets/img/dblp.png" width="200" height="50"></a>
        <br><a class="view" href="{{ site.github.owner_url }}" target="_blank"><img style="border:1px outset silver;" src="assets/img/github.png" width="200" height="50"></a>
        <br><a class="view" href="https://www.researchgate.net/profile/Ajay-Jha-9" target="_blank"><img style="border:1px outset silver;" src="assets/img/rgate.png" width="200" height="50"></a>

        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.owner_url }}"><strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </body>
</html>