<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US"}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/png" href="/assets/img/stam_logo.png">
    <title> Ajay Kumar Jha </title>

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
</head>
<body>
<div class="wrapper">
    <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Ajay Kumar Jha" />
        {% endif %}

        {% if site.github.is_user_page %}
        <br><b>Assistant Professor</b>
        <br> QBB 258, B8
        <br>Department of Computer Science
        <br>North Dakota State University
        <br>Fargo, ND, USA.
        <br>📧 ajay.jha.1@ndsu.edu
        <br>
        <br>
        <a class="view" href="https://www.ndsu.edu/cs/" target="_blank"> <img src="assets/img/ndsu-logo.jpg" width="300" height="58"></a>
        <br>
        <br><a class="view" href="https://scholar.google.com/citations?user=JGx-ivgAAAAJ&hl=en&oi=sra" target="_blank">
        <img src="assets/img/scholar.png" width="35" height="35"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="view" href="https://github.com/HiFromAjay" target="_blank">
        <img src="assets/img/git.png" width="35" height="35"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="view" href="https://www.linkedin.com/in/ajay-kumar-jha-0196835/" target="_blank">
        <img src="assets/img/linkedin.png" width="35" height="35"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="view" href="https://twitter.com/hifromajay" target="_blank">
        <img src="assets/img/twitter.png" width="35" height="35"></a>

        <br>
        <br>


        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
            <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ site.github.owner_url }}"><strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
    </header>
    <section>

        {{ content }}

    </section>
    <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
    </footer>
</div>
<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    </body>
</html>